<!DOCTYPE html>

<html>

    <head>
    <meta charset="utf-8">
    <title>Flask Demo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <header>
            <h1>Flask Demo</h1>
        </header>
        <nav>
            <a href="/"">Home</a>
            <a href="/demo">Demo</a>
        </nav>

        <main>
            {%block content %}
            {%endblock%}
        </main>
    </body>

</html>